<template>
  <v-container>
    <v-card
      class="gradient-color border-general pa-8"
    >
      <v-autocomplete
        v-model="especialidad_seleccionada"
        :items="especialidades"
        dark
        label="ESPECIALIDAD"
        item-text="nombre"
      >
        <template v-slot:selection="{ item }">
          <v-chip
            @click:close="removeEspecialidad(item)"
            color="white"
            class="black--text"
            close
            close-icon="mdi-close"
          >
            <span>{{ item.nombre }}</span>
          </v-chip>
        </template>
        <template v-slot:item="data">
          <NuxtLink
            :style="{'text-decoration':'none', 'text-underline':'none'}"
            :to="data.attrs.inputValue ? '/tests/' : '/tests/' + data.item.slug"
            class="d-flex"
          >
            <v-simple-checkbox :value="data.attrs.inputValue" color="primary" class="mr-8" />
            <v-list-item-content>
              <v-list-item-title v-html="data.item.nombre" />
              <v-list-item-subtitle :style="{'font-size':'9px'}">
                {{ data.item.grupo }} | {{ data.item.especificacion }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </NuxtLink>
        </template>
      </v-autocomplete>

      <div>
        <v-chip
          v-for="(especificacion, index) in especificaciones"
          :key="especificacion.nombre"
          :outlined="!especificacion.seleccionado"
          :style="{'color': !especificacion.seleccionado ? 'rgba(255,255,255,0.4)' : $vuetify.theme.themes.light.primary }"
          :class="index == 9 ? '' :'mr-1'"
          class="mt-1"
          color="rgba(255,255,255,0.4)"
          small
        >
          {{ especificacion.nombre }}
        </v-chip>
      </div>
      <div>
        <v-chip
          v-for="(grupo, index) in grupos"
          :key="grupo.nombre"
          :outlined="!grupo.seleccionado"
          :style="{'color': !grupo.seleccionado ? 'rgba(255,255,255,0.4)' : $vuetify.theme.themes.light.primary }"
          :class="index == 4 ? '' : 'mr-1'"
          class="mt-1"
          color="rgba(255,255,255,0.4)"
          small
        >
          {{ grupo.nombre }}
        </v-chip>
      </div>
    </v-card>
    <div class="my-7">
      <h1>
        {{ especialidad_seleccionada ? 'TESTS ONLINE DE ' + especialidad_seleccionada : 'TESTS ONLINE' }}
      </h1>
    </div>
  </v-container>
</template>

<script>

export default {
  validate ({ params, store }) {
    // await operations
    // console.log(await this.especialidades.some(e => e.slug === params.especialidad))
    return true
  },
  components: {
  },
  data: () => ({
    grupos: [ { nombre: 'Grupo A (A1)', seleccionado: false },
      { nombre: 'Grupo B (A2)', seleccionado: false },
      { nombre: 'Grupo C (C1)', seleccionado: false },
      { nombre: 'Grupo D (C2)', seleccionado: false },
      { nombre: 'Grupo E', seleccionado: false } ],
    especificaciones: [ { nombre: 'Facultativo no Sanitario', seleccionado: false },
      { nombre: 'Facultativo Sanitario', seleccionado: false },
      { nombre: 'Diplomado no Sanitario', seleccionado: false },
      { nombre: 'Diplomado Sanitarios Especialista', seleccionado: false },
      { nombre: 'Diplomado Sanitario no Especialista', seleccionado: false },
      { nombre: 'Técnico Especialista no Sanitario', seleccionado: false },
      { nombre: 'Técnico Especialista Sanitario', seleccionado: false },
      { nombre: 'Técnico Auxiliar no Sanitario', seleccionado: false },
      { nombre: 'Técnico Auxiliar Sanitario', seleccionado: false },
      { nombre: 'Personal de Sanitarios', seleccionado: false } ],
    especialidades: [
      { nombre: 'ANALISTA DE SISTEMAS', slug: 'analista-de-sistemas', grupo: 'Grupo A (A1)', especificacion: 'Facultativo no Sanitario' },
      { nombre: 'CUERPO SUPERIOR DE ADMINISTRADORES', slug: 'cuerpo-superior-de-administradores', grupo: 'Grupo B (A2)', especificacion: 'Diplomado no Sanitario' },
      { nombre: 'DOCUMENTALISTAS', grupo: 'Grupo C (C1)', slug: 'documentalistas', especificacion: 'Diplomado Sanitario no Especialista' },
      { nombre: 'INGENIEROS INDUSTRIALES', grupo: 'Grupo D (C2)', slug: 'ingenieros-industriales', especificacion: 'Facultativo no Sanitario' },
      { nombre: 'CELADOR / SUBALTERNO', grupo: 'Grupo E', slug: 'celador--subalterno', especificacion: 'Técnico Especialista Sanitario' }],
    especialidad_seleccionada: ''
  }),
  mounted () {
    const $vm = this
    const aux = $vm.especialidades.filter(function (valor) { return valor.slug === $vm.$route.params.especialidad })
    $vm.especialidad_seleccionada = aux[0].nombre
    this.updateGrupos()
    this.updateEspecificaciones()
  },
  methods: {
    updateGrupos () {
      const vm = this.especialidad_seleccionada
      const aux = this.especialidades.filter(function (valor) { return valor.nombre === vm })
      if (aux.length > 0) {
        this.grupos = this.grupos.map(function (valor) {
          return { nombre: valor.nombre, seleccionado: aux[0].grupo === valor.nombre }
        })
      } else {
        this.grupos = this.grupos.map(function (valor) {
          return { nombre: valor.nombre, seleccionado: false }
        })
      }
    },
    updateEspecificaciones () {
      const vm = this.especialidad_seleccionada
      const aux = this.especialidades.filter(function (valor) { return valor.nombre === vm })
      if (aux.length > 0) {
        this.especificaciones = this.especificaciones.map(function (valor) {
          return { nombre: valor.nombre, seleccionado: aux[0].especificacion === valor.nombre }
        })
      } else {
        this.especificaciones = this.especificaciones.map(function (valor) {
          return { nombre: valor.nombre, seleccionado: false }
        })
      }
    },
    removeEspecialidad (item) {
      this.$router.push('/tests/')
    }
  }
}
</script>

<style>
.gradient-color{
  background: rgb(115,103,240);
  background: linear-gradient(0deg, rgba(115,103,240,0.8267682072829132) 0%, rgba(115,103,240,1) 100%);
}
.border-general{
  border-radius: 13px !important;
}
.border-general-top{
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.border-general-bottom{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
}
.encabezado{
  font-weight: 400 !important;
  font-size: 24px;
  color: #2c2c2c;
  margin-bottom: 0px !important;
}
</style>
