<template>
  <v-app :style="{'background-color':'#F8F8F8'}">
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
}
</script>
<style>
.buttonNoActive::before{
  opacity: 0 !important;
}
</style>
