<template>
  <v-container>
    <v-card
      class="gradient-color border-general pa-8"
    >
      <v-autocomplete
        v-model="especialidades_seleccionadas"
        :items="especialidades"
        @change="updateGrupos(); updateEspecificaciones()"
        :item-value="function (value) {return value}"
        dark
        label="ESPECIALIDADES"
        multiple
        item-text="nombre"
      >
        <!-- <div
          slot="prepend-item"
          :style="{
            'background-color':!estanSeleccionadosTodos() ? 'rgba(115, 103, 240, 0.8)' : 'rgba(0, 0, 0, 0.4)',
            'color':'white',
            'width':'100%',
            'height': '55px',
            'cursor': 'pointer'}"
          @click="seleccionarTodo()"
          class="d-flex px-4 mt-n2"
        >
          <v-icon
            color="white"
            class="mr-8"
          >
            {{ !estanSeleccionadosTodos() ? 'mdi-plus-box' : 'mdi-minus-box' }}
          </v-icon>
          <v-list-item-content>
            <v-list-item-title>{{ !estanSeleccionadosTodos() ? 'SELECCIONAR TODO' : 'ELIMINAR TODO' }}</v-list-item-title>
          </v-list-item-content>
        </div> -->

        <template v-slot:selection="{ item }">
          <v-chip
            @click:close="removeEspecialidad(item)"
            color="white"
            class="black--text"
            close
            close-icon="mdi-close"
          >
            <span>{{ item.nombre }}</span>
          </v-chip>
        </template>
        <template v-slot:item="data">
          <v-simple-checkbox :value="data.attrs.inputValue" color="primary" class="mr-8" />
          <v-list-item-content>
            <v-list-item-title v-html="data.item.nombre" />
            <v-list-item-subtitle :style="{'font-size':'9px'}">
              {{ data.item.grupo }} | {{ data.item.especificacion }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </template>
      </v-autocomplete>

      <v-autocomplete
        v-model="comunidades_seleccionadas"
        :items="comunidades"
        dark
        label="COMUNIDADES"
        multiple
      >
        <div
          slot="prepend-item"
          :style="{
            'background-color':!estanSelecTodasComunidades() ? 'rgba(115, 103, 240, 0.8)' : 'rgba(0, 0, 0, 0.4)',
            'color':'white',
            'width':'100%',
            'height': '55px',
            'cursor': 'pointer'}"
          @click="selecTodasComunidades()"
          class="d-flex px-4 mt-n2"
        >
          <v-icon
            color="white"
            class="mr-8"
          >
            {{ !estanSelecTodasComunidades() ? 'mdi-plus-box' : 'mdi-minus-box' }}
          </v-icon>
          <v-list-item-content>
            <v-list-item-title>{{ !estanSelecTodasComunidades() ? 'SELECCIONAR TODO' : 'ELIMINAR TODO' }}</v-list-item-title>
          </v-list-item-content>
        </div>
        <template v-slot:selection="{ item }">
          <v-chip
            @click:close="removeComunidad(item)"
            color="white"
            class="black--text"
            close
            close-icon="mdi-close"
          >
            <span>{{ item }}</span>
          </v-chip>
        </template>
      </v-autocomplete>
      <div>
        <v-chip
          v-for="(especificacion, index) in especificaciones"
          :key="especificacion.nombre"
          :outlined="!especificacion.seleccionado"
          :style="{'color': !especificacion.seleccionado ? 'rgba(255,255,255,0.4)' : $vuetify.theme.themes.light.primary }"
          :class="index == 9 ? '' :'mr-1'"
          class="mt-1"
          color="rgba(255,255,255,0.4)"
          small
        >
          {{ especificacion.nombre }}
        </v-chip>
      </div>
    </v-card>
    <div class="my-7">
      <h1>
        BAREMOS MÉRITOS
      </h1>
    </div>
    <v-card
      color="white"
      class="border-general"
    >
      <v-card
        :style="{'width':'120% !important'}"
        :class="show_meritos_academicos ? 'border-general-top': 'border-general'"
        @click="show_meritos_academicos = !show_meritos_academicos"
        v-ripple="false"
        elevation="0"
        class="gradient-color px-8 py-4 white--text d-flex flex-column buttonNoActive"
      >
        <div class="d-flex">
          <h2>MÉRITOS ACADÉMICOS</h2>
          <v-icon color="white" class="pl-4">
            {{ show_meritos_academicos ? 'mdi-minus-box' : 'mdi-plus-box' }}
          </v-icon>
        </div>
        <div>
          <v-chip
            v-for="(grupo, index) in grupos"
            :key="grupo.nombre"
            :outlined="!grupo.seleccionado"
            :style="{'color': !grupo.seleccionado ? 'rgba(255,255,255,0.4)' : $vuetify.theme.themes.light.primary }"
            :class="index == 4 ? '' : 'mr-1'"
            class="mt-1"
            color="rgba(255,255,255,0.4)"
            small
          >
            {{ grupo.nombre }}
          </v-chip>
        </div>
      </v-card>
      <div v-show="show_meritos_academicos">
        <div
          v-if="grupos.filter(function(grupo){ return grupo.seleccionado }).length == 0 "
          class="d-flex justify-start align-center mt-4 px-8 pb-6"
        >
          <v-img
            :src="require('@/assets/hacia-arriba.png')"
            height="45px"
            max-width="45px"
            class="mr-1"
            contain
          />
          <h3 class="encabezado">
            <b><u>SELECCIONA ALGUNA ESPECIALIDAD</u></b>
          </h3>
        </div>
      </div>
      <expedienteAcademico v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <master v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <doctorado v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <premioExtraordinario v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <curso
        v-show="show_meritos_academicos"
        v-if="grupos[0].seleccionado || grupos[1].seleccionado || grupos[2].seleccionado"
        :class="!(grupos[0].seleccionado || grupos[1].seleccionado) ? 'pb-6' : ''"
        class="mt-4 px-8"
      />
      <ponencia v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <investigacion v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <publicaciones v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8" />
      <extra v-show="show_meritos_academicos" v-if="grupos[0].seleccionado || grupos[1].seleccionado" class="mt-4 px-8 pb-6" />
    </v-card>
    <v-card
      color="white"
      class="border-general mt-7"
    >
      <v-card
        :style="{'width':'120% !important'}"
        :class="show_meritos_profesionales ? 'border-general-top': 'border-general'"
        @click="show_meritos_profesionales = !show_meritos_profesionales"
        v-ripple="false"
        elevation="0"
        class="gradient-color px-8 py-4 white--text d-flex buttonNoActive"
      >
        <h2>MÉRITOS PROFESIONALES</h2>
        <v-icon color="white" class="pl-4">
          {{ show_meritos_profesionales ? 'mdi-minus-box' : 'mdi-plus-box' }}
        </v-icon>
      </v-card>
      <expedienteAcademico v-show="show_meritos_profesionales" class="mt-4 px-8" />
      <master v-show="show_meritos_profesionales" class="mt-4 px-8" />
      <doctorado v-show="show_meritos_profesionales" class="mt-4 px-8" />
      <premioExtraordinario v-show="show_meritos_profesionales" class="mt-4 px-8" />
      <curso v-show="show_meritos_profesionales" class="mt-4 px-8" />
    </v-card>
  </v-container>
</template>

<script>
import expedienteAcademico from '@/components/parametrosBaremo/expedienteAcademico'
import doctorado from '@/components/parametrosBaremo/doctorado'
import master from '@/components/parametrosBaremo/master'
import curso from '@/components/parametrosBaremo/curso'
import publicaciones from '@/components/parametrosBaremo/publicaciones'
import ponencia from '@/components/parametrosBaremo/ponencia'
import premioExtraordinario from '@/components/parametrosBaremo/premioExtraordinario'
import investigacion from '@/components/parametrosBaremo/investigacion'
import extra from '@/components/parametrosBaremo/extra'

export default {
  components: {
    expedienteAcademico,
    doctorado,
    master,
    premioExtraordinario,
    curso,
    ponencia,
    publicaciones,
    investigacion,
    extra
  },
  data: () => ({
    grupos: [ { nombre: 'Grupo A (A1)', seleccionado: false },
      { nombre: 'Grupo B (A2)', seleccionado: false },
      { nombre: 'Grupo C (C1)', seleccionado: false },
      { nombre: 'Grupo D (C2)', seleccionado: false },
      { nombre: 'Grupo E', seleccionado: false } ],
    especificaciones: [ { nombre: 'Facultativo no Sanitario', seleccionado: false },
      { nombre: 'Facultativo Sanitario', seleccionado: false },
      { nombre: 'Diplomado no Sanitario', seleccionado: false },
      { nombre: 'Diplomado Sanitarios Especialista', seleccionado: false },
      { nombre: 'Diplomado Sanitario no Especialista', seleccionado: false },
      { nombre: 'Técnico Especialista no Sanitario', seleccionado: false },
      { nombre: 'Técnico Especialista Sanitario', seleccionado: false },
      { nombre: 'Técnico Auxiliar no Sanitario', seleccionado: false },
      { nombre: 'Técnico Auxiliar Sanitario', seleccionado: false },
      { nombre: 'Personal de Sanitarios', seleccionado: false } ],
    especialidades: [
      { nombre: 'ANALISTA DE SISTEMAS', grupo: 'Grupo A (A1)', especificacion: 'Facultativo no Sanitario' },
      { nombre: 'CUERPO SUPERIOR DE ADMINISTRADORES', grupo: 'Grupo B (A2)', especificacion: 'Diplomado no Sanitario' },
      { nombre: 'DOCUMENTALISTAS', grupo: 'Grupo C (C1)', especificacion: 'Diplomado Sanitario no Especialista' },
      { nombre: 'INGENIEROS INDUSTRIALES', grupo: 'Grupo D (C2)', especificacion: 'Facultativo no Sanitario' },
      { nombre: 'CELADOR / SUBALTERNO', grupo: 'Grupo E', especificacion: 'Técnico Especialista Sanitario' }],
    especialidades_seleccionadas: [{ nombre: 'ANALISTA DE SISTEMAS', grupo: 'Grupo A (A1)', especificacion: 'Facultativo no Sanitario' }],
    comunidades: ['MURCIA', 'COMUNIDAD VALENCIANA', 'PAÍS VASCO'],
    comunidades_seleccionadas: ['MURCIA'],
    show_meritos_academicos: true,
    show_meritos_profesionales: false
  }),
  mounted () {
    this.updateGrupos()
    this.updateEspecificaciones()
  },
  methods: {
    updateGrupos () {
      const aux = new Set(this.especialidades_seleccionadas.map(function (valor) { return valor.grupo }))
      this.grupos = this.grupos.map(function (valor) {
        return { nombre: valor.nombre, seleccionado: aux.has(valor.nombre) }
      })
    },
    updateEspecificaciones () {
      const aux = new Set(this.especialidades_seleccionadas.map(function (valor) { return valor.especificacion }))
      this.especificaciones = this.especificaciones.map(function (valor) {
        return { nombre: valor.nombre, seleccionado: aux.has(valor.nombre) }
      })
    },
    removeEspecialidad (item) {
      this.especialidades_seleccionadas = this.especialidades_seleccionadas.filter(function (valor) { return valor.nombre !== item.nombre })
      this.updateGrupos()
      this.updateEspecificaciones()
    },
    removeComunidad (item) {
      this.comunidades_seleccionadas = this.comunidades_seleccionadas.filter(function (valor) { return valor !== item })
    },
    seleccionarTodo () {
      if (this.estanSeleccionadosTodos()) {
        this.especialidades_seleccionadas = []
      } else {
        this.especialidades_seleccionadas = this.especialidades
      }
      this.updateGrupos()
      this.updateEspecificaciones()
    },
    estanSeleccionadosTodos () {
      return this.especialidades.every(especialidad => this.especialidades_seleccionadas.includes(especialidad))
    },
    selecTodasComunidades () {
      if (this.estanSelecTodasComunidades()) {
        this.comunidades_seleccionadas = []
      } else {
        this.comunidades_seleccionadas = this.comunidades
      }
    },
    estanSelecTodasComunidades () {
      return this.comunidades.every(comunidad => this.comunidades_seleccionadas.includes(comunidad))
    }
  }
}
</script>

<style>
.gradient-color{
  background: rgb(115,103,240);
  background: linear-gradient(0deg, rgba(115,103,240,0.8267682072829132) 0%, rgba(115,103,240,1) 100%);
}
.border-general{
  border-radius: 13px !important;
}
.border-general-top{
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.border-general-bottom{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
}
.encabezado{
  font-weight: 400 !important;
  font-size: 24px;
  color: #2c2c2c;
  margin-bottom: 0px !important;
}
</style>
