<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/certificacion.png')" height="45px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>CURSOS DE FORMACIÓN Y PERFECCIONAMIENTO</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(curso, index) in cursos_expediente"
        :key="curso"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ curso }}
        </span>
        <v-btn
          :ripple="false"
          @click="deleteCurso(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="cursos_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Curso</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <span>Estos cursos han de tener un <b>contenido relacionado con las funciones a realizar</b>.</span>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="curso_aux" label="Título del Curso" required />
                </v-col>
                <v-col cols="12">
                  <v-checkbox hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Ha sido impartido o realizado mediante la contribución de la <b>Administración Pública</b> u <b>organismos que dependen de la misma?</b>
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2" hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Ha sido declarado <b>de interés científico o sanitario</b> por cualquier Administración Pública?
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2">
                    <template v-slot:label>
                      <div>
                        ¿Ha sido impartido por <b>Sociedades Científicas</b>?
                      </div>
                    </template>
                  </v-checkbox>
                </v-col>
                <v-col cols="12">
                  <v-text-field type="number" label="Número de Horas" required />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirCurso()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    curso_aux: '',
    cursos_expediente: []
  }),
  methods: {
    añadirCurso () {
      this.cursos_expediente.push(this.curso_aux)
      this.curso_aux = ''
      this.dialog = false
    },
    deleteCurso (index) {
      this.cursos_expediente.splice(index, 1)
    }
  }

}
</script>

<style>

</style>
