<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/letter-d.png')" height="40px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>DOCTORADO</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(doctorado, index) in doctorados_expediente"
        :key="doctorado"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ doctorado }}
        </span>
        <v-btn
          :ripple="false"
          @click="deleteDoctorado(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="doctorados_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Doctorado</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field v-model="doctorado_aux" label="Título del Doctorado" required />
                </v-col>
                <v-col cols="12">
                  <v-checkbox @click="radioCheckbox('sobresaliente')" v-model="sobresaliente">
                    <template v-slot:label>
                      <div>
                        Obtuviste calificación <b>Sobresaliente</b>
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox @click="radioCheckbox('cumlaude')" v-model="cumlaude" class="mt-0">
                    <template v-slot:label :hint="false">
                      <div>
                        Obtuviste calificación <b>Cumlaude</b>
                      </div>
                    </template>
                  </v-checkbox>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirDoctorado()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    doctorado_aux: '',
    doctorados_expediente: [],
    cumlaude: false,
    sobresaliente: false
  }),
  methods: {
    añadirDoctorado () {
      this.doctorados_expediente.push(this.doctorado_aux)
      this.doctorado_aux = ''
      this.dialog = false
    },
    deleteDoctorado (index) {
      this.doctorados_expediente.splice(index, 1)
    },
    radioCheckbox (aux) {
      if (aux === 'cumlaude') {
        this.sobresaliente = false
      } else {
        this.cumlaude = false
      }
    }
  }

}
</script>

<style>

</style>
