<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/birrete.png')" height="45px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>EXPEDIENTE ACADÉMICO</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(licenciatura, index) in licenciaturas_expediente"
        :key="licenciatura"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ licenciatura }}
        </span>
        <v-btn
          :ripple="false"
          @click="deleteLicenciatura(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="licenciaturas_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Expediente Académico</span>
          </v-card-title>
          <v-card-text class="pb-0">
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="licenciatura_aux"
                    :items="licenciaturas.filter(( el ) => !licenciaturas_expediente.includes( el ) )"
                    label="Licenciatura"
                    outlined
                    dense
                    required
                    hide-details
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field type="number" hide-details height="40px" label="Número de Asignaturas" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field type="number" hide-details height="40px" label="Número de Asignaturas con calificación Notable" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field type="number" hide-details height="40px" label="Número de Asignaturas con calificación Sobresaliente" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field type="number" hide-details height="40px" label="Número de Asignaturas con calificación Matrícula de Honor" required />
                </v-col>
                <v-col :style="{'margin-top':'20px'}" cols="12">
                  <div class="d-flex flex-row">
                    <v-combobox
                      v-model="select"
                      :items="asignaturas_especiales"
                      label="Asignaturas Especiales"
                      multiple
                      outlined
                      dense
                    />
                    <v-btn
                      :style="{'color':'#FFFFFE'}"
                      @click="añadirAsignaturasEspeciales()"
                      elevation="0"
                      height="40px"
                      class="ml-3 pl-0 pr-2"
                      color="#757575"
                    >
                      <v-icon>mdi-plus</v-icon> Añadir
                    </v-btn>
                  </div>
                  <div v-for="(asignatura, index) in asignaturas_especiales_seleccionadas" :key="asignatura" class="px-5">
                    <div class="d-flex justify-space-between">
                      <span :style="{'font-size':'15px','font-weight':300, 'display':'block'}">{{ asignatura }}</span>
                      <v-btn
                        :ripple="false"
                        @click="deleteAsignaturaEspecialSeleccionada(index)"
                        elevation="0"
                        color="transparent"
                        class="buttonNoActive px-0"
                      >
                        <v-icon :style="{'color':'#757575'}">
                          mdi-close
                        </v-icon>
                      </v-btn>
                    </div>
                    <v-radio-group
                      :column="false"
                      class="pt-0 mt-0"
                    >
                      <div class="pr-4">
                        <v-radio
                          label="Aprobado"
                          value="aprobada"
                        />
                        <v-radio
                          label="Notable"
                          value="notable"
                        />
                      </div>
                      <div>
                        <v-radio
                          label="Sobresaliente"
                          value="sobresaliente"
                        />
                        <v-radio
                          label="Matrícula de Honor"
                          value="matricula-de-honor"
                        />
                      </div>
                    </v-radio-group>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirLicenciatura()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    licenciaturas: ['Licenciado en Farmacia', 'Licenciado en Física', 'Licenciado en Biología', 'Licenciado en Bioquímica'],
    licenciatura_aux: '',
    licenciaturas_expediente: [],
    religion: '',
    asignaturas_especiales: ['Religión', 'Idiomas', 'Educación Física', 'Formación Política'],
    asignaturas_especiales_seleccionadas: [],
    select: []
  }),
  methods: {
    añadirLicenciatura () {
      this.licenciaturas_expediente.push(this.licenciatura_aux)
      this.licenciatura_aux = ''
      this.dialog = false
    },
    deleteLicenciatura (index) {
      this.licenciaturas_expediente.splice(index, 1)
    },
    añadirAsignaturasEspeciales () {
      this.asignaturas_especiales_seleccionadas = this.asignaturas_especiales_seleccionadas.concat(this.select)
      this.select = []
    },
    deleteAsignaturaEspecialSeleccionada (index) {
      this.asignaturas_especiales_seleccionadas.splice(index, 1)
    }
  }

}
</script>

<style>

</style>
