<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/analisis.png')" height="45px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>OTROS MÉRTIROS ACADÉMICOS O CIENTÍFICOS NO VALORADOS EN LOS APARTADOS ANTERIORES</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(extra, index) in extra_expediente"
        :key="extra"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ extra }}
        </span>
        <v-btn
          :ripple="false"
          @click="deleteExtra(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="extra_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Mérito Académico o Científico <u>no valorado en los apartados anteriores</u></span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field v-model="extra_aux" label="Título del Mérito" required />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirExtra()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    extra_aux: '',
    extra_expediente: []
  }),
  methods: {
    añadirExtra () {
      this.extra_expediente.push(this.extra_aux)
      this.extra_aux = ''
      this.dialog = false
    },
    deleteExtra (index) {
      this.extra_expediente.splice(index, 1)
    }
  }

}
</script>

<style>

</style>
