<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/microscopio.png')" height="45px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>BECAS O PROYECTOS DE INVESTIGACIÓN</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(investigacion, index) in investigacion_expediente"
        :key="investigacion"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ investigacion }}
        </span>
        <v-btn
          :ripple="false"
          @click="deleteInvestigacion(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="investigacion_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Beca o Proyecto de Investigación</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field v-model="investigacion_aux" label="Título de la Beca o Proyecto" required />
                </v-col>
                <v-col cols="12">
                  <v-checkbox hide-details>
                    <template v-slot:label>
                      <div>
                        Obtuviste un <b>Premio de Investigacion</b>
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox hide-details>
                    <template v-slot:label>
                      <div>
                        Figurabas como <b>Investigador Principal</b>
                      </div>
                    </template>
                  </v-checkbox>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirInvestigacion()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    investigacion_aux: '',
    investigacion_expediente: []
  }),
  methods: {
    añadirInvestigacion () {
      this.investigacion_expediente.push(this.investigacion_aux)
      this.investigacion_aux = ''
      this.dialog = false
    },
    deleteInvestigacion (index) {
      this.investigacion_expediente.splice(index, 1)
    }
  }

}
</script>

<style>

</style>
