<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/speaker.png')" height="45px" max-width="45px" class="mr-" contain />
      <h3 class="encabezado">
        <b><u>PRESENTACIÓN DE PONENCIAS</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(ponencia, index) in ponencias_expediente"
        :key="ponencia"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ ponencia }}
        </span>
        <v-btn
          :ripple="false"
          @click="deletePonencia(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="ponencias_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Ponencia</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field v-model="ponencia_aux" label="Título de la Ponencia" required />
                </v-col>
                <v-col cols="12">
                  <v-checkbox hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Realizaste la ponencia como <b>Primer Firmante</b>?
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2">
                    <template v-slot:label>
                      <div>
                        ¿La ponencia fue convocada por una <b>Entidad Oficial Nacional o Extranjera</b>?
                      </div>
                    </template>
                  </v-checkbox>
                  <span>La ponencia ha de tener relación con la especialidad correspondiente.</span>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirPonencia()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    ponencia_aux: '',
    ponencias_expediente: []
  }),
  methods: {
    añadirPonencia () {
      this.ponencias_expediente.push(this.ponencia_aux)
      this.ponencia_aux = ''
      this.dialog = false
    },
    deletePonencia (index) {
      this.ponencias_expediente.splice(index, 1)
    }
  }

}
</script>

<style>

</style>
