<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/medal.png')" height="45px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>PREMIOS EXTRAORDINARIOS</u></b>
      </h3>
    </div>
    <div class="d-flex flex-column">
      <v-checkbox hide-details class="mt-0">
        <template v-slot:label>
          <div>
            Obtuviste un <b>Premio Extraordinario Regional</b>
          </div>
        </template>
      </v-checkbox>
      <v-checkbox hide-details class="mt-2">
        <template v-slot:label>
          <div>
            Obtuviste un <b>Premio Extraordinario Nacional</b>
          </div>
        </template>
      </v-checkbox>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>

</style>
