<template>
  <div>
    <div class="d-flex justify-start align-center mb-1">
      <v-img :src="require('@/assets/escritura.png')" height="45px" max-width="45px" class="mr-1" contain />
      <h3 class="encabezado">
        <b><u>PUBLICACIONES</u></b>
      </h3>
    </div>
    <v-card
      :style="{'border': '1px solid #d1d1d1'}"
      class="border-general"
      elevation="0"
    >
      <v-card
        v-for="(publicacion, index) in publicaciones_expediente"
        :key="publicacion"
        :style="{'border-bottom':'1px solid #d1d1d1'}"
        class="pa-4 d-flex align-center justify-space-between"
      >
        <span>
          {{ publicacion }}
        </span>
        <v-btn
          :ripple="false"
          @click="deletePublicacion(index)"
          elevation="0"
          color="transparent"
          class="buttonNoActive px-0"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
      <v-dialog v-model="dialog" persistent max-width="600px" eager>
        <template v-slot:activator="{ on, attrs }">
          <v-card
            :style="{'width':'100%', 'background-color':'#d1d1d1'}"
            v-bind="attrs"
            v-on="on"
            :class="publicaciones_expediente.length > 0 ? 'border-general-bottom': 'border-general'"
            elevation="0"
            class="d-flex align-center justify-center pa-4"
          >
            <v-icon color="white">
              mdi-plus-thick
            </v-icon>
          </v-card>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Publicación</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row no-gutters>
                <v-col cols="12">
                  <span>Estas publicaciones han de tener un <b>contenido relacionado con las funciones a realizar</b>.</span>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="publicacion_aux" label="Título del Publicacion" required />
                </v-col>
                <v-col cols="12">
                  <span :style="{'font-size':'20px', 'font-weight':700}">¿Medio en el que se realizo la publicación?</span>
                  <v-checkbox hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Revista <b><u>no incluida</u></b> en <b>repertorios bibliográficos internacionales (SCI)</b>?
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2" hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Revista <b><u>incluida</u></b> en <b>repertorios bibliográficos internacionales (SCI)</b>
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2" hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Libro publicado por una empresa de carácter <b>Regional</b>?
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2" hide-details>
                    <template v-slot:label>
                      <div>
                        ¿Libro publicado por una empresa de carácter <b>Nacional</b>?
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox class="mt-2">
                    <template v-slot:label>
                      <div>
                        ¿Libro publicado por una empresa de carácter <b>Internacional</b>?
                      </div>
                    </template>
                  </v-checkbox>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Número de Horas" required />
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="dialog = false" color="primary" text>
              CERRAR
            </v-btn>
            <v-btn @click="añadirPublicacion()" color="primary" text>
              AÑADIR
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    publicacion_aux: '',
    publicaciones_expediente: []
  }),
  methods: {
    añadirPublicacion () {
      this.publicaciones_expediente.push(this.publicacion_aux)
      this.publicacion_aux = ''
      this.dialog = false
    },
    deletePublicacion (index) {
      this.publicaciones_expediente.splice(index, 1)
    }
  }

}
</script>

<style>

</style>
